{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Our pets</h2>
        <ul class="available-container">
            {% for pet in pets %}

            {% if pet.available %}
            
            <li class="pets-container">
                <a class="pet-name link" href="/pets/{{ pet.id }}">
                    <h3>{{ pet.name }}</h3>
                    <img src="{{ pet.photo_url }}" alt="This is a photo of a pet named {{ pet.name }} and species {{ pet.species }}">
                </a>
                <p class="availability-tag success">Available</p>
                <a href="/pets/{{ pet.id }}/edit">Edit</a>
                <form action="/pets/{{ pet.id }}/delete" method="POST"><button class="warning">Delete</button></form>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        
        <ul class="unavailable-container">
            {% for pet in pets %}

            {% if not pet.available %}

            <li class="pets-container">
                <a class="pet-name link" href="/pets/{{ pet.id }}">
                    <h3>{{ pet.name }}</h3>
                    <img src="{{ pet.photo_url }}" alt="This is a photo of a pet named {{ pet.name }} and species {{ pet.species }}">
                </a>
                <p class="availability-tag warning">Not Available</p>
                <a href="/pets/{{ pet.id }}/edit">Edit</a>
                <form action="/pets/{{ pet.id }}/delete" method="POST"><button class="warning">Delete</button></form>
            </li>
            {% endif %}
            {% endfor %}

        </ul>

        

        
    



{% endblock %}