{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Our cupcakes</h2>
    <ul class="cupcakes-container"></ul>
    <div class="add-cupcake-form-container">
        <h2>Add a new cupcake</h2>
        <form action="POST" id="new-cupcake-form">
            <div class="input-container">
                <label for="input-flavor">Flavor</label>
                <input type="text" name="flavor" id="input-flavor">
            </div>
            <div class="input-container">
                <label for="size">Size</label>
                <input type="text" name="size" id="input-size">
            </div>
            <div class="input-container">
                <label for="input-image">Image</label>
                <input type="url" name="image" id="input-image">
            </div>
            <div class="input-container">
                <label for="input-rating">Rating</label>
                <input type="number" name="rating" id="input-rating">
            </div>
            
            <button>Create New Cupcake</button>
        </form>
    </div>

{% endblock %}
