{% extends 'base.html' %}

{% block title %}User Detail{% endblock %}

{% block content %}
    <h1><a href="/">Blogly</a></h1>
    <h2>User Detail Page</h2>

    <div class="user-container">
        <img src="{{ user.img_url }}" alt="User's headshot">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        <p>Type:  <a href="/types/{{ user.type }}">{{ user.user_type }}</a></p>
        <div class="buttons-container">
            <a href="/users/{{ user.id }}/edit"><button>Edit</button></a>
            <form action="/users/{{ user.id }}/delete" method="POST" id="detail_user">
                <button>Delete</button>
            </form>
        </div>
    </div>




{% endblock %}




