{% extends 'base.html' %}

{% block title %}New User{% endblock %}

{% block content %}
    <h1><a href="/">Blogly</a></h1>

    <h2>Post Edit Page</h2>
    <form action="/posts/{{ post.id }}/edit" method="POST">
        <label for="post_title">Title</label>
        <input type="text" name="post_title" id="post_title" value="{{ post.title }}" required>
        <label for="post_content">Last Name</label>
        <input type="text" name="post_content" id="post_content" value="{{ post.content }}" required>
        <a href="/posts/{{ post.id }}/cancel" role="button" class="button">Cancel</a>
        <button>Edit</button>
    </form>



{% endblock %}
