{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Recent posts</h2>
    <ul>
        {% for post in posts %}
        <li class="post-container">
            <a class="post-title" href="/posts/{{ post.id }}">{{ post.title }}</a>
            <p>{{ post.content }}</p>
            <p class="post-meta">Post by {{ post.user.full_name }} on {{ post.created_at_friendly }}</p>
            <div class="horizontal-container">
                <p><b>Tags:</b></p>
            <ul class="tags-container">
                {% for tag in post.tags %}
                <li class="tag-button">{{ tag.name }}</li>
                {% endfor %}
            </ul>
            </div>
        </li>

        {% endfor %}
    </ul>



{% endblock %}