{% extends 'base.html' %}

{% block title %}New Tag{% endblock %}

{% block content %}
    <h2>Create a tag</h2>
    <form action="/tags/new" method="POST">
        <label for="tag_name">Name</label>
        <input type="text" name="tag_name" id="tag_name" placeholder="Enter a name for the tag">
        <div class="vertical-container">
            {% for post in posts %}
            <input type="checkbox" id="post-{{ post.title }}" name="posts" value="{{ post.id }}">
            <label for="post-{{ post.title }}">{{ post.title }}</label>
            {% endfor %}
        </div>
        <a href="/tags" role="button" class="button">Cancel</a>
        <button>Add</button>
    </form>

{% endblock %}
