{% extends 'base.html' %}

{% block title %}Flask Feedback{% endblock %}

{% block content %}
    <h2>User info</h2>
    <div class="user-container">
        <div class="user-card">
            <p><b>Username:</b> {{ user.username }}</p>
            <p><b>Email:</b>{{ user.email }}</p>
            <p><b>First Name:</b>{{ user.first_name }}</p>
            <p><b>Last Name:</b>{{ user.last_name }}</p>
        </div>
        <form action="/users/{{ user.username }}/delete" method="POST"><button>Delete User</button></form>
    </div>

    <h2>Feedback</h2>
    <a href="/users/{{ user.username }}/feedback/add">Add feedback</a>
    </div>    <div class="feedbacks-container">
        <h3>Your feedback:</h3>
        {% for feedback in user.feedbacks %}
        <div class="feedback-card">
            <h4>{{ feedback.title }}</h4>
            <form action="/feedback/{{ feedback.id }}/delete" method="POST"><button>Delete</button></form>
            <a href="/feedback/{{ feedback.id }}/update">Edit</a>
        </div>
        {% endfor %}
    </div>
    

{% endblock %}